*{
  margin: 0px;
  padding:0px;
  background-color:#0f002b;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration:none;
  color:white;
  background-color:#160042;
}
nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  color:white;
  height:100px;
background-color:#160042;

}

nav ul{
  display:flex;
  justify-content:center;
  background-color:#160042;
}

nav ul li{
  list-style:none;
  margin:0 23px;
  background-color:#160042;
}

.left{
  background-color:#160042;
  font-size: 1.4rem;
}

.right{
  background-color:#160042;
}

a:hover{
  font-size:1.1rem;
  color:#5f68de;
} 


main{
 color:white;
  
} 

.firstSection{
  display:flex;
  justify-content:space-around;
align-items:center;
}


.leftSection{
  font-size: 2.5rem;
  width:30%
  margin: 70px 0;
}

.rightSection{
  margin: 80px 0;
  width:33%
}

img{
  
  height: 558px;
}

#element{
  font-size:1.7rem;
  color:#5f60e3;
} 
#name{
  color: #5f68de;
} 

#headname{
  color:#5f68de;
  background-color:#160042;
}

